<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Dev Company</title>
  <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<header th:insert="main-header.html"></header>
<div class="container">
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Number</div>
        <span th:text="${invoice.identity}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Value</div>
        <span th:text="${invoice.saleValue}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Name</div>
        <span th:text="${invoice.client.name}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Surname</div>
        <span th:text="${invoice.client.surname}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pesel</div>
        <span th:text="${invoice.client.pesel}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Address</div>
        <span th:text="${invoice.building.city + ' ul. ' + invoice.building.street + ' ' +invoice.building.address}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Apartment number</div>
        <span th:text="${invoice.flat.get(0).flatNumber}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Sign date</div>
        <span th:text="${invoice.signDate}"></span>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Sign date</div>
        <span th:text="${invoice.paymentDate}"></span>
      </div>
    </li>
  </ol>
  <a th:href="@{'/list-invoices'}" class="btn btn-outline-success btn-sm" style="width: 100%">
    Back to list
  </a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>